.card {
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    .card-body {
        a.btn {
            position: relative;
            z-index: 999;
        }
    }
}
